@import url(reset.css);
.frame {
  z-index: 1500;
  top: 0;
  bottom: 0;
  min-height: 250px; }
  .frame > * {
    position: absolute; }
  .frame .top {
    height: 50px;
    top: 10px; }
    .frame .top.left {
      width: 72px;
      left: -72px;
      background-image: url(../img/frame-top-left.png); }
    .frame .top.center {
      background-image: url(../img/frame-top.png); }
    .frame .top.right {
      width: 72px;
      right: -72px;
      background-image: url(../img/frame-top-right.png); }
  .frame .side {
    width: 20px;
    top: 65px;
    bottom: 95px; }
    .frame .side.right {
      background-image: url(../img/frame-right.png);
      right: 0; }
    .frame .side.left {
      background-image: url(../img/frame-left.png);
      left: 0; }
  .frame .bottom {
    height: 50px;
    bottom: 40px; }
    .frame .bottom.left {
      width: 59px;
      left: -59px;
      background-image: url(../img/frame-bottom-left.png); }
    .frame .bottom.center {
      background-image: url(../img/frame-bottom.png); }
    .frame .bottom.right {
      width: 59px;
      right: -59px;
      background-image: url(../img/frame-bottom-right.png); }
  .frame .center {
    background-repeat: repeat-x;
    width: 100%; }

.frame .menu {
  background: #232565;
  bottom: 90px;
  height: 50px;
  left: 20px;
  right: 20px;
  z-index: 1400; }
  .frame .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .frame .menu li {
    display: inline; }
  .frame .menu a {
    display: block;
    margin: 5px;
    padding: 10px;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #ede5bc;
    border: 1px solid #232565; }
    .frame .menu a:hover {
      border-color: #ede5bc;
      border-radius: 10px; }

.frame .logo {
  left: 20px;
  right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  visibility: hidden; }
  .frame .logo.initial, .frame .logo.intermediate {
    background-image: url(../img/logo.png);
    z-index: 1600; }
  .frame .logo.initial {
    top: 60px;
    bottom: 90px;
    margin-top: auto;
    margin-bottom: auto;
    height: 198px; }
  .frame .logo.final {
    top: 10px;
    bottom: auto;
    height: 90px;
    background-image: url(../img/logo.png);
    z-index: 1601; }

.title-page {
  height: 800px; }

.quote-page {
  height: 700px;
  width: 450px;
  margin-left: auto;
  margin-right: auto; }
  .quote-page .line1, .quote-page .line2, .quote-page .line3 {
    color: #ede5bc;
    font-size: 30px;
    margin-bottom: 20px; }
  .quote-page .line1 {
    text-align: center;
    margin-right: 50px; }
  .quote-page .line2 {
    text-align: right; }
  .quote-page .author {
    color: #ede5bc;
    font-size: 20px;
    text-align: right;
    margin-right: 20px; }

/* NOTE
 * Rules in this file are rules which change based on runtime 
 * variables (such as window width)
 * They should also be set in a JavaScript file (e.g., resize.js)
 */
.frame {
  width: 960px; }
  .frame .menu a {
    width: 198px; }

.sky, .content {
  width: 920px; }

body {
  font-family: Helvetica; }

.sky, .background > *, .frame, .content, .footer {
  position: fixed;
  left: 0;
  right: 0; }

.sky, .content, .frame {
  margin-left: auto;
  margin-right: auto; }

.sky, .content {
  top: 60px; }

.sky {
  bottom: 90px; }

.background *, .sky {
  background-color: #232565; }

.background .sides {
  top: 0;
  bottom: 0; }
.background .top {
  z-index: 1000;
  top: 0;
  height: 10px; }
.background .bottom {
  z-index: 1000;
  height: 40px;
  bottom: 0; }

.fake-body {
  height: 10000px;
  width: 0; }

.footer {
  background: #232565;
  color: #ede5bc;
  bottom: 0;
  margin: auto 0 0 auto;
  padding: 5px 10px 5px 5px;
  width: 400px;
  z-index: 1999;
  text-align: right;
  border-top-left-radius: 5px;
  font-size: 12px; }
  .footer a, .footer a:visited {
    color: #ede5bc; }
