@import "_shared.scss";
@import "_frame.scss";
@import "_content.scss";
@import "_dynamic.scss";
@import "reset.css";

body {
  font-family: Helvetica;
}
.sky, .background > *, .frame, .content, .footer {
  position: fixed;
  left: 0;
  right: 0;
}
.sky, .content, .frame {
  margin-left: auto;
  margin-right: auto;
}
.sky, .content {
  top: $sky-top;
}
.sky {
  bottom: $sky-bottom;
}
.background *, .sky {
  background-color: $background-blue;
}
.background {
  .sides {
    top: 0;
    bottom: 0;
  }
  .top {
    z-index: 1000;
    top: 0;
    height: $frame-top;
  }
  .bottom {
    z-index: 1000;
    height: $frame-bottom;
    bottom: 0;
  }
}
.fake-body {
  height: 10000px;
  width: 0;
}
.footer {
  background: $background-blue;
  color: $beige;
  bottom: 0;
  margin: auto 0 0 auto;
  padding: 5px 10px 5px 5px;
  width: 400px;
  z-index: 1999;
  text-align: right;
  border-top-left-radius: 5px;
  font-size: 12px;

  a, a:visited {
    color: $beige;
  }
}