@import "_colours.scss";
@import "_reset.scss";
@import "_button.scss";
@import "simple/_committee.scss";
@import "simple/_tickets.scss";
@import "simple/_entz.scss";
@import "simple/_charities.scss";
@import "simple/_layout.scss";

html {
  font-size: 16px;
}
body {
  width: 920px;

  padding: 0 20px;
  margin: 0 auto;

  box-shadow: 0 0 10px 20px darken($background-blue, 10%);
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}
a {
  &:hover {
    text-decoration: none;
  }
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}
h3 {
  margin: 1rem auto 0;
  text-align: center;
  font-size: 1.75rem;
}

p {
  margin: 0 auto;
  padding: 0.6rem 0;

  width: 60%;

  text-align: justify;
  font-size: 1.25rem;
}

strong {
  font-weight: 600;
  color: $green;
}

.button, #header .navbar li {
  @include button;
}

.clear {
  height: 0;
  clear: both;
}