@import "_colours.scss";
@import "_reset.scss";
@import "window/_shared.scss";
@import "window/_frame.scss";
@import "window/_content.scss";
@import "window/_dynamic.scss";

html {
  font: {
    family: Helvetica;
    size: 16px;
  }
}
.sky, .background > *, .frame, #content, #footer {
  position: fixed;
  left: 0;
  right: 0;
}
.sky, #content, .frame {
  margin-left: auto;
  margin-right: auto;
}
.sky, #content {
  top: $sky-top;
}
.sky {
  bottom: $sky-bottom;
}
.background *, .sky {
  background-color: $blue;
}
.background {
  .sides {
    top: 0;
    bottom: 0;
  }
  .top {
    z-index: 1000;
    top: 0;
    height: $frame-top;
  }
  .bottom {
    z-index: 1000;
    height: $frame-bottom;
    bottom: 0;
  }
}
.fake-body {
  height: 10000px;
  width: 0;
}
#footer {
  background: $blue;
  bottom: 0;
  margin: auto 0 0 auto;
  padding: 5px 10px 5px 5px;
  width: 34rem;
  z-index: 1999;
  text-align: right;
  border-top-left-radius: 5px;

  font-size: 0;
  
  li {
    display: inline;

    &:not(:last-child) {
      border-right: 1px solid $beige;
    }
  }

  a {
    display: inline-block;
    padding: 2px 4px;
    &:hover {
      text-decoration: none;
    }
  }
  a, a:visited, li {
    color: $beige;
    font-size: 0.75rem;
  }
}