$charities-layout:horizontal;
$charities-sprite-dimensions:true;
@import "charities/*.png";
@include all-charities-sprites;

#charities {
  .charity-image {
    float: right;
    margin: {
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20%;
    }

    text-align: center;

    &, &:hover {
      text-decoration: none;
    }

    span {
      display: inline-block;
    }
  }
}