#entz {
  .quote {
    margin: 20px 0;
    font-size: 1.6rem;

    .line {
      display: block;
      margin: 0 auto 10px;

      width: 80%;
    }
    .line:nth-child(odd) {
      text-align: left;
    }
    .line:nth-child(even) {
      text-align: right;
    }
    .open, .close {
      font-size: 4rem;
      line-height: 2rem;
      vertical-align: middle;
    }
  }
}