<ul id='footer'>
  {% unless page.layout == 'window' %}
    <li class='window'><a href='/window?version=window' data-link='footer-full'>Full Site</a></li>
  {% endunless %}

  {% unless page.layout == 'simple' %}
    <li class='simple'><a href='/simple/home?version=simple' data-link='footer-simple'>
      {% if page.layout == 'window' %}
        Not Displaying Correctly?
      {% else %}
        Basic Site
      {% endif %}
    </a></li>
  {% endunless %}

  {% unless page.layout == 'accessibility' %}
    <!-- <li class='accessibility'><a href='/simple/accessibility' data-link='footer-accessibility'>Accessibility</a></li> -->
  {% endunless %}

  {% unless page.layout == 'mobile' %}
    <li class='mobile'><a href='/mobile/home?version=mobile' data-link='footer-mobile'>Mobile</a></li>
  {% endunless %}

  <li class='cookies'><a href='/simple/cookies' data-link='footer-cookies'>Cookies</a></li>
  <li class='contact'><a href='/simple/committee' data-link='footer-committee'>Contact</a></li>

  <li class='copyright'>{% include copyright.html %}</li>
</ul>