<ul id='footer'>
  {% unless page.layout == 'window' %}
    <li class='window'><a href='/window'>Full Site</a></li>
  {% endunless %}

  {% unless page.layout == 'simple' %}
    <li class='simple'><a href='/simple/home'>
      {% if page.layout == 'window' %}
        Not Displaying Correctly?
      {% else %}
        Basic Site
      {% endif %}
    </a></li>
  {% endunless %}

  {% unless page.layout == 'mobile' %}
    <li class='accessibility'><a href='/simple/accessibility'>Accessibility</a></li>
  {% endunless %}

  {% unless page.layout == 'mobile' %}
    <li class='mobile'><a href='/mobile/home'>Mobile</a></li>
  {% endunless %}

  <li class='cookies'><a href='/simple/cookies'>Cookies</a></li>
  <li class='contact'><a href='/simple/committee'>Contact</a></li>

  <li class='copyright'>{% include copyright.html %}</li>
</ul>