<ul class='navbar'>
  <li class='navitem'><a href='/{{ page.layout }}/home' data-link='navbar-home'>Home</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/tickets' data-link='navbar-tickets'>Tickets</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/food' data-link='navbar-food'>Food &amp; Drink</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/entz' data-link='navbar-entz'>Entertainment</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/sponsors' data-link='navbar-sponsors'>Sponsors</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/committee' data-link='navbar-committee'>Committee</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/charities' data-link='navbar-charities'>Charities</a></li>
</ul>