<ul class='navbar'>
  <li><a href='{{ include.root }}/home'>Home</a></li>
  <li><a href='{{ include.root }}/tickets'>Tickets</a></li>
  <li><a href='{{ include.root }}/food'>Food &amp; Drink</a></li>
  <li><a href='{{ include.root }}/entz'>Entertainment</a></li>
  <li><a href='{{ include.root }}/sponsors'>Sponsors</a></li>
  <li><a href='{{ include.root }}/committee'>Committee</a></li>
  <li><a href='{{ include.root }}/charities'>Charities</a></li>
  {% if mode == 'mobile' %}
    <li><a href='{{ include.root }}/cookies'>Charities</a></li>
    <li>{% include copyright.html %}</li>
  {% endif %}
</ul>