<ul class='navbar'>
  <li class='navitem'><a href='/{{ page.layout }}/home'>Home</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/tickets'>Tickets</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/food'>Food &amp; Drink</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/entz'>Entertainment</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/sponsors'>Sponsors</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/committee'>Committee</a></li>
  <li class='navitem'><a href='/{{ page.layout }}/charities'>Charities</a></li>
</ul>