@import "../_button.scss";
#header {
  // Main Header Logo
  .logo {
    text-align: center;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    span {
      display: inline-block;

      background: {
        repeat: no-repeat;
        position: center center;
        image: url(/img/logo.png);
        size: contain;
      };
    }

    &.large {
      text-align: center;
      span {
        width: 100%;
        max-width: 360px;
        height: 150px;
      }
    }
    &.small {
      float: right;
      span {
        width: 192px;
        height: 80px;
      }
    }
  }
  .menu-button {
    padding-top: 14px;
  }
}
#content {
  margin-bottom: 20px;
  .menu-button {
    text-align: center;
  }
  .navbar, #footer {
    li a {
      display: block;
      padding: 1rem;

      border-top: 1px solid $dark-blue;

      font-size: 1.5rem;
    }
    li:last-child a {
      border-bottom: 1px solid $dark-blue;      
    }
  }
  #footer {
    margin-top: 3.5rem;
    li a {
      font-size: 1rem;
    }
  }
}
.menu-button {
  @include labelled-icon-button;
}