@import "_shared.scss";
@import "../_colours.scss";

$top-corner-width: 72px;
$bottom-corner-width: 59px;

.frame {
  z-index: 1500;
  top: 0;
  bottom: 0;
  min-height: 100px + $frame-top-height + $frame-bottom-height + $frame-menu-height;
  pointer-events: none;
  & > * {
    position: absolute;
    pointer-events: auto;
  }
  .top {
    height: $frame-top-height;
    top: $frame-top;
    &.left {
      width:$top-corner-width;
      left: -1 * $top-corner-width;
      background-image: url(/img/frame-top-left.png);
    }
    &.center {
      background-image: url(/img/frame-top.png);
    }
    &.right {
      width:$top-corner-width;
      right: -1 * $top-corner-width;
      background-image: url(/img/frame-top-right.png);
    }
  }
  .side {
    width: $frame-side-width;
    top: $sky-top + 5px;
    bottom: $sky-bottom + 5px;
    &.right {
      background-image: url(/img/frame-right.png);
      right: 0;
    }
    &.left {
      background-image: url(/img/frame-left.png);
      left: 0;
    }
  }
  .bottom {
    height: $frame-bottom-height;
    bottom: $frame-bottom;
    &.left {
      width: $bottom-corner-width;
      left: -1 * $bottom-corner-width;
      background-image: url(/img/frame-bottom-left.png);
    }
    &.center {
      background-image: url(/img/frame-bottom.png);
    }
    &.right {
      width: $bottom-corner-width;
      right: -1 * $bottom-corner-width;
      background-image: url(/img/frame-bottom-right.png);
    }
  }
  .center {
    background-repeat: repeat-x;
    width: 100%;
  }
}

.frame .menu {
  background: $blue;
  bottom: $sky-bottom;
  height: $frame-menu-height;
  left: $frame-side-width;
  right: $frame-side-width;
  z-index: 1400;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  a {
    display: block;
    margin: 5px;
    padding: 10px;
    float:left;
    text-align: center;

    text-decoration: none;
    color: $beige;

    border: 1px solid $blue;

    &:hover {
      border: {
        color: $beige;
        radius: 10px;
      }
    }
  }
}

.frame .skyline {
  left: $frame-side-width;
  right: $frame-side-width;
  margin-left: auto;
  margin-right: auto;
  // Off by one error hack
  bottom: $sky-bottom + $frame-menu-height - 1;

  height: 100px;

  pointer-events: none;
  
  background: {
    repeat: repeat-x;
    size: cover;
    position: center center;
    image: url(/img/skyline.png);
  }
}

.frame .logo {
  left: $frame-side-width;
  right: $frame-side-width;
  margin-left: auto;
  margin-right: auto;

  background: {
    repeat: no-repeat;
    position: center center;
  };

  visibility: hidden;

  &.initial, &.intermediate {
    background: {
      image: url(/img/logo.png);
      size: contain;
    }
    z-index: 1601;
    width: 60%;
  }
  &.initial {
    top: $sky-top;
    bottom: $sky-bottom;
    margin-top: auto;
    margin-bottom: auto;

    height: 198px;
  }
  &.final {
    top: 2px;
    bottom: auto;

    background-size: cover;
    
    width: 265px;
    height: 110px;

    box-shadow: 0 0 8px 3px darken($blue, 10%);
    background-image: url(/img/logo-frame.png);
    z-index: 1600;
  }
}