@import "_shared.scss";

#popups {
  margin: 0 auto;

  top: $sky-top + 50px;
  bottom: $sky-bottom + $frame-menu-height + 50px;
  width: 700px;

  z-index: 1701;

  iframe {
    width: 100%;
    height: 100%;

    border: 1px solid $dark-blue;
    border-radius: 20px;
    box-shadow: 0 0 10px 20px $dark-blue;
  }
}
#popup-blur {
  top: 0;
  bottom: 0;

  z-index: 1700;

  background-color: $dark-blue;
  opacity: 0.4;
}

#popups, #popup-blur, #popups > iframe {
  display: none;
}