//Dimensions of components of Window Frame
$frame-top-height: 50px;
$frame-bottom-height: 50px;
$frame-side-width: 20px;
$frame-menu-height: 50px;

//Start and End Positions of Window Frame and Sky
$frame-top: 10px;
$sky-top: $frame-top + $frame-top-height;
$frame-bottom: 40px;
$sky-bottom: $frame-bottom + $frame-bottom-height;

$menu-item-count: 4;