@import "_shared.scss";

$top-corner-width: 72px;
$bottom-corner-width: 59px;

.frame {
  z-index: 1500;
  top: $frame-top;
  bottom: $frame-bottom;
  min-height: 100px + $frame-top-height + $frame-bottom-height + $frame-menu-height;
  & > * {
    position: absolute;
  }
  .top {
    height: $frame-top-height;
    top: 0;
    &.left {
      width:$top-corner-width;
      left: -1 * $top-corner-width;
      background-image: url(../img/frame-top-left.png);
    }
    &.center {
      background-image: url(../img/frame-top.png);
    }
    &.right {
      width:$top-corner-width;
      right: -1 * $top-corner-width;
      background-image: url(../img/frame-top-right.png);
    }
  }
  .side {
    width: $frame-side-width;
    top: $frame-top-height + 5px;
    bottom: $frame-bottom-height + 5px;
    &.right {
      background-image: url(../img/frame-right.png);
      right: 0;
    }
    &.left {
      background-image: url(../img/frame-left.png);
      left: 0;
    }
  }
  .bottom {
    height: $frame-bottom-height;
    bottom: 0;
    &.left {
      width: $bottom-corner-width;
      left: -1 * $bottom-corner-width;
      background-image: url(../img/frame-bottom-left.png);
    }
    &.center {
      background-image: url(../img/frame-bottom.png);
    }
    &.right {
      width: $bottom-corner-width;
      right: -1 * $bottom-corner-width;
      background-image: url(../img/frame-bottom-right.png);
    }
  }
  .center {
    background-repeat: repeat-x;
    width: 100%;
  }
}

.frame .menu {
  background: $background-blue;
  bottom: $frame-bottom-height;
  height: $frame-menu-height;
  left: $frame-side-width;
  right: $frame-side-width;
  z-index: 1400;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  a {
    display: block;
    margin: 5px;
    padding: 10px;
    float:left;
    text-align: center;

    text-decoration: none;
    color: $beige;

    border: 1px solid $background-blue;

    &:hover {
      border: {
        color: $beige;
        radius: 10px;
      }
    }
  }
}