@import "_shared.scss";
.frame {
  z-index: 9500;
  top: $frame-top;
  width: $frame-width;
  height: $frame-height;
  & > * {
    position: absolute;
  }
  .top {
    height: $frame-top-height;
    top: 0;
    &.left {
      width:72px;
      right: $frame-width;
      background-image: url(../img/window-top-left.png);
    }
    &.center {
      background-image: url(../img/window-top.png);
    }
    &.right {
      width:72px;
      left: $frame-width;
      background-image: url(../img/window-top-right.png);
    }
  }
  .side {
    height: $frame-height - $frame-top-height - $frame-bottom-height - 10;
    width: $frame-side-width;
    top: 55px;
    &.right {
      background-image: url(../img/window-right.png);
      right: 0;
    }
    &.left {
      background-image: url(../img/window-left.png);
      left: 0;
    }
  }
  .bottom {
    height: $frame-bottom-height;
    bottom: 0;
    &.left {
      width:59px;
      right: $frame-width;
      background-image: url(../img/window-bottom-left.png);
    }
    &.center {
      background-image: url(../img/window-bottom.png);
    }
    &.right {
      width:59px;
      left: $frame-width;
      background-image: url(../img/window-bottom-right.png);
    }
  }
  .center {
    background-repeat: repeat-x;
    width: $frame-width;
  }
  // .skyline {
  //   width: 960px;
  //   height: 311px;
  //   bottom: 25px;
  //   background: {
  //     image: url(../img/skyline.png);
  //     repeat: no-repeat;
  //   }
  // }
}

.frame .menu {
  background: $background-blue;
  bottom: $frame-bottom-height;
  height: $menu-height;
  left: $frame-side-width;
  right: $frame-side-width;
  z-index: 9400;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  a {
    display: block;
    width: ($window-width / $menu-item-count) - 32;
    margin: 5px;
    padding: 10px;
    float:left;
    text-align: center;

    text-decoration: none;
    color: $beige;

    border: 1px solid $background-blue;

    &:hover {
      border: {
        color: $beige;
        radius: 10px;
      }
    }
  }
}