$beige: #ede5bc;
$background-blue: #232565;

$frame-width: 960px;
$frame-height: 750px;

$menu-height: 50px;
$menu-item-count: 4;

$frame-top-height: 50px;
$frame-bottom-height: 50px;
$frame-side-width: 20px;

$window-width: $frame-width - (2 * $frame-side-width);
$window-height: $frame-height - $frame-top-height - $menu-height - $frame-bottom-height;

$frame-top: 20px;
$window-top: $frame-top + $frame-top-height;
$window-bottom: $window-top + $window-height;