<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
  <meta name="viewport" content="width=device-width">
  
  <title>{{ site.name }}</title>
  <!-- build:css(bin/staging) /css/construction.min.css -->
    <link rel="stylesheet" type="text/css" href="/css/construction.css">
  <!-- endbuild -->
</head>
<body>
  <table>
    <tbody>
      <tr>
        <td class='middle'>
          <div class='content'>
            <div class='logo'>&nbsp;</div>
            <div class='notice'>Coming Soon</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>