<!DOCTYPE html>
{% assign isHome = false %}{% assign isMenu = false %}
{% if page.title == "Home" %}{% assign isHome = true %}{% endif %}
{% if page.title == "Menu" %}{% assign isMenu = true %}{% endif %}
<html>
<head>
  <!-- build:css(bin/staging) /css/mobile.min.css -->
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
  <!-- endbuild -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- build:js(bin/staging) /js/mobile.min.js -->
    <script src="/js/mobile.js"></script>
  <!-- endbuild -->
  {% include analytics.html %}

  {% include meta.html %}
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% unless isHome %}{{ page.title }} - {% endunless %}{{ site.name }}</title>
</head>
<body>
  <div id="header">

    {% if isHome or isMenu %}{% assign logoSize = "large" %}{% else %}{% assign logoSize = "small" %}{% endif %}
    <a href='/mobile/home' title='{{ site.name }}' class='logo {{ logoSize }}' data-link='header-logo'>
      <span>&nbsp;</span>
    </a>
    
    {% unless isHome or isMenu %}
      <a href='/mobile/menu' class='menu-button' data-link='header-menu'>
        <span class='icon-button'>
          <span class='icon menu'>&nbsp;</span>
        </span>
        <span class='label'>Menu</span>
      </a>
      <div class='clear'>&nbsp;</div>
    {% endunless %}
  </div>

  {% unless isHome or isMenu %}
    <h2>{{ page.title }}</h2>
  {% endunless %}

  <div id="content">
    {{ content }}

    {% if isHome %}
      <div class='center'>
        <a href='/mobile/menu' class='menu-button' data-link='content-menu'>
          <span class='icon-button'>
            <span class='icon menu'>&nbsp;</span>
          </span>
          <span class='label'>Menu</span>
        </a>
      </div>
    {% endif %}
  </div>
  
  {% include tracking.html %}
</body>
</html>