<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
  <title>{% unless page.title == "Home" %}{{ page.title }} - {% endunless %}{{ site.name }}</title>
</head>
<body>
  <div class="header">
    <div class='logo'>
      <a href='/mobile/home' title='{{ site.name }}'>
        <span>&nbsp;</span>
      </a>
    </div>

    {% include menu.html root='/mobile' mode='mobile' %}
  </div>

  {% unless page.title == "Home" %}<h2>{{ page.title }}</h2>{% endunless %}

  <div class="content">
    {{ content }}
  </div>

  {% include footer.html mode='mobile' %}
</body>
</html>