<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
  
  <!-- build:css(bin/staging) /css/simple.min.css -->
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
  <!-- endbuild -->
  
  {% include analytics.html %}
  <title>{% unless page.title == "Home" %}{{ page.title }} - {% endunless %}{{ site.name }}</title>
</head>
<body>
  <div id="header">
    <div class='logo'>
      <a href='/simple/home' title='{{ site.name }}' data-link='header-menu'>
        <span>&nbsp;</span>
      </a>
    </div>

    {% include navbar.html %}
  </div>

  {% unless page.title == "Home" %}<h2>{{ page.title }}</h2>{% endunless %}

  <div id="content">
    {{ content }}
  </div>

  {% include social.html %}
  {% include footer.html %}
  
  {% include tracking.html %}
</body>
</html>