<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    
    <title>{{ site.name }}</title>
    
    <!-- build:css(bin/staging) /css/window.min.css -->
      <link rel="stylesheet" type="text/css" href="/css/window.css">
    <!-- endbuild -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- build:js(bin/staging) /js/window.min.js -->
      <script src="/js/scrolling.js"></script>
      <script src="/js/resize.js"></script>
      <script src="/js/links.js"></script>
    <!-- endbuild -->
    {% include analytics.html %}
  </head>
  <body>
    <div class='fake-body'>&nbsp;</div>

    <div class='background'>
      <div class='sides'>&nbsp;</div>
      <div class='top'>&nbsp;</div>
      <div class='bottom'>&nbsp;</div>
    </div>

    <div class='sky'>&nbsp;</div>
    <div class='frame'>
      <div class='top left'>&nbsp;</div>
      <div class='top center'>&nbsp;</div>
      <div class='top right'>&nbsp;</div>
      <div class='side left'>&nbsp;</div>
      <div class='side right'>&nbsp;</div>
      <div class='bottom left'>&nbsp;</div>
      <div class='bottom center'>&nbsp;</div>
      <div class='bottom right'>&nbsp;</div>
      <div class='skyline'>&nbsp;</div>
      <div class='logo initial'>&nbsp;</div>
      <div class='logo final'>&nbsp;</div>
      <div class='logo intermediate'>&nbsp;</div>
      <div class='menu'>
        <ul>
          <li><a href='#home'>Home</a></li>
          <li><a href='#entz'>Entertainment</a></li>
          <li><a href='#food'>Food &amp; Drink</a></li>
          <li><a href='#tickets'>Tickets</a></li>
        </ul>
      </div>
    </div>

    <div class='content'>
      {{ content }}
    </div>

    {% include footer.html %}

    {% include tracking.html %}
  </body>
</html>